# Pastas de ambiente virtual
venv/
.venv/

# Pastas de cache e build
__pycache__/
*.pyc
*.ipynb_checkpoints/

# Arquivos de ambiente e logs
.env
.flaskenv
*.log

# Arquivos gerados pela aplicação - (Adicione 'api/' aos caminhos)
api/uploads/
api/resultado_predicao.txt
api/meus_digitos.png # Apenas se este é um arquivo temporário e gerado
# Arquivos gerados pela aplicação - NOTA: CUIDADO COM ESTES, SE DEVEM ESTAR NO GIT OU NAO
api/uploads/
api/resultado_predicao.txt
api/meus_digitos.png # Apenas se este é um arquivo temporário